{% extends 'base.html' %}
{% block title %}
    Welcome PyWeb!!
{% endblock %}

{% block content %}
{% load static %}
<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4 text-primary font-weight-bold">Welcome PyWeb!!</h1>
        <hr class="my-4">
        <p>안녕하세요. Pyweb 사이트 입니다. 이 사이트는 <span class="text-success">질문/답변</span>, <span class="text-danger">설문조사</span> 게시판으로 구성되어있습니다.</p>
        <a class="btn btn-outline-success mr-3" href="{% url 'board:boardlist' %}" role="button">질문/답변</a>
        <a class="btn btn-outline-danger" href="{% url 'polls:index' %}" role="button">설문조사</a>
    </div>
    <div class="row">
        <!-- 배경 사진 전환 - 자바스크립트 작성
        <div class="card mb-4">
            <img id="pic" src="{% static 'board/images/bg0.jpg' %}" alt="배경">
        </div>
        -->
        <div class="col-6 my-3">
            <!-- 배경 사진 전환 - 부트스트랩 Carousel 사용 -->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'board/images/poll.jpg' %}" class="d-block w-100" alt="poll">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'board/images/question.jpg' %}" class="d-block w-100" alt="question">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
        <div class="col-6 px-5">
           <h3>Question - 최근 질문</h3>
            {% for question in question_list %}
            <div class="card my-3">
                <div class="card-body">
                    <a href="{% url 'board:detail' question.id %}"
                       class="text-dark text-decoration-none">
                        {{ question.subject }}
                        <span class="badge bg-success ml-1">{{ question.answer_set.count }}</span>
                    </a>
                    <div class="card-text text-right">
                        <span class="badge text-dark">
                            {{ question.author }}&nbsp; &nbsp;{{ question.create_date }}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    let picture = ["/static/board/images/poll.jpg", "/static/board/images/question.jpg"];
    let pic_idx = 0;

    showPicture();  // 함수 호출

    function showPicture(){
        let img = document.getElementById("pic");
        img.src = picture[pic_idx];  // 0번 인덱스 이미지 저장
        pic_idx += 1;  // 1 증가

        if(pic_idx == 2){
            pic_idx = 0;
        }

        setTimeout(showPicture, 2000);  // 2초 설정(롤백 함수)
    };
</script>
{% endblock %}